    <h1>Welcome to sybling.site, <%= @user.email %></h1>
    <p>
      You have successfully signed up to wwww.sybling.site,
      <%# your username is: <%= @user.login %>.<br>
    </p>
    <p>
      Whenever you wish to log in to our site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining us and have a great day!</p>